DEBUG=false
DJANGO_SECRET_KEY=tezpos-dev-change-in-production

# Contabo / production
ALLOWED_HOSTS=localhost,127.0.0.1,13.140.146.78,tez-pos.uz,www.tez-pos.uz
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://13.140.146.78:8000,http://tez-pos.uz,https://tez-pos.uz,http://www.tez-pos.uz,https://www.tez-pos.uz

# Django bazasi: sqlite (default) yoki postgresql
DB_ENGINE=sqlite

# PostgreSQL faqat DB_ENGINE=postgresql bo'lganda:
# DB_ENGINE=postgresql
# DB_NAME=tezpos
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432

# Verified by GS1 / GRP API
GS1_REGISTRY_API_URL=
GS1_REGISTRY_API_KEY=
GS1_REGISTRY_API_KEY_HEADER=Ocp-Apim-Subscription-Key

BARCODE_LOOKUP_API_KEY=
EAN_SEARCH_API_TOKEN=
